

:root {
    --circle-width: 480px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

background: #F3F7F8
colors: #569AFF, #FF6768, FFBE89
shadow: 0px 0px 47px rgba(0, 0, 0, 0.08);
widths: 480, 380, 300, 220
font: dosis bold 40, 15

*/


body {
    width: 100%;
    height: 100vh;
    background: #F3F7F8;
    display: grid;
    place-items: center;
}

#clock {
    background: #FFF url('ticks.svg');
    position: relative;
    display: grid;
    place-items: center;
}

#clock, .circle {
    width: var(--circle-width);
    height: var(--circle-width);
    border-radius: 50%;
    box-shadow: 0px 0px 47px #00000014;
}

.circle {
    position: absolute;
    top: calc(50% - var(--circle-width) / 2);
    left: calc(50% - var(--circle-width) / 2);
}

.circle-sec { --circle-width: 380px; }

.circle-min { --circle-width: 300px; }

.circle-hrs { --circle-width: 220px; }


.circle::after {
    width: 15px;
    height: 15px;
    background: #569AFF;
    border-radius: 50%;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-sec::after { background: #FFBE89; }

.circle-hrs::after { background: #FF6768; }


#time {
    font-size: 40px;
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
    font-family: 'Dosis', sans-serif;
}

#time::after {
    position: absolute;
    content: attr(data-time);
    font-size: 15px;
    bottom: 10px;
    color: #FF6768;
}